<!-- Inicio do Footer -->
<footer class="bg-cinza text-dark pt-5 pb-3">
    <div class="container">
      <div class="row">
        <!-- Logo -->
        <div class="col-md-4 mb-4">
          <img src="/assets/img/logo-petmora.png" alt="Logo" style="max-width: 150px;">
        </div>
  
        <!-- Contato -->
        <div class="col-md-4 mb-4">
          <h6 class="fw-bold">Contato</h6>
          <p class="mb-1">+55 (11) 9999-9999</p>
          <p class="mb-1">petmora@petmora.com</p>
          <hr>
          <p class="mb-1">Rua das Margaridas, 12 - Tatuapé</p>
          <p>São Paulo - SP</p>
          <hr>
          <div class="d-flex gap-3">
            <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook fs-4 text-dark"></i></a>
            <a href="https:/instagram.com" target="_blank"><i class="bi bi-instagram fs-4 text-dark"></i></a>
            <a href="https://youtube.com" target="_blank"><i class="bi bi-youtube fs-4 text-dark"></i></a>
          </div>
        </div>
  
        <!-- Informações -->
        <div class="col-md-4 mb-4">
          <h6 class="fw-bold">Informações</h6>
          <ul class="list-unstyled">
            <li><a href="/pages/petsitter.html" class="text-dark text-decoration-none">Encontre um cuidador</a></li>
            <li><a href="/pages/hospedagem.html" class="text-dark text-decoration-none">Encontre uma hospedagem</a></li>
            <li><a href="/pages/como_funciona.html" class="text-dark text-decoration-none">Como funciona</a></li>
            <li><a href="/pages/contato.html" class="text-dark text-decoration-none">Contato</a></li>
          </ul>
        </div>
      </div>
  
      <div class="text-center pt-3 border-top mt-4">
        <p class="mb-1">Petmora © 2025 | Desenvolvido por Ingrid, Pedro e Bryan | Projeto de Desenvolvimento Web – SENAC</p>        
        <a href="https://github.com/byingridsantana/petmora" target="_blank" class="text-dark text-decoration-none">
          <i class="bi bi-github"></i> Ver no GitHub
        </a>
      </div>
    </div>
  </footer>
  <!-- Fim do Footer -->