 <!-- NAVBAR -->
 <nav class="navbar navbar-expand-sm bg-body-tertiary navbar-shadow-bottom">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="/assets/img/site-logo-petmora.png" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Links do meio -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pages/petsitter.html">Encontre um Pet Sitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/hospedagem.html">Encontre uma Hospedagem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/como_funciona.html">Como Funciona?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/contato.html">Contato</a>
          </li>
        </ul>

        <!-- Link de login/cadastro à direita -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#authModal">Entrar / Cadastrar-se</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- FIM NAVBAR -->